@{
  Layout = "_Layout";
}

@{
   List<SelectListItem> listItems= new List<SelectListItem>();
   listItems.Add(new SelectListItem
        {
          Text = "Red",
          Value = "Red"
        });
   listItems.Add(new SelectListItem
        {
            Text = "White",
            Value = "White",
            Selected = true
        });
   listItems.Add(new SelectListItem
        {
            Text = "Blue",
            Value = "Blue"
        });
    listItems.Add(new SelectListItem
        {
            Text = "Green",
            Value = "Green"
        });
    listItems.Add(new SelectListItem
        {
            Text = "Yellow",
            Value = "Yellow"
        });
    listItems.Add(new SelectListItem
        {
            Text = "Purple",
            Value = "Purple"
        });
    listItems.Add(new SelectListItem
        {
            Text = "Brown",
            Value = "Brown"
        });
    listItems.Add(new SelectListItem
        {
            Text = "Orange",
            Value = "Orange"
        });
}

@model RecipeBox.Models.Recipe

<h4>Add A New Recipe</h4>

@using (Html.BeginForm())
{

  @Html.Label("Recipe Name:")
  <br>
  @Html.TextBoxFor(model => model.Name)
  <br>
  @Html.Label("Description:")
  <br>
  @Html.TextBoxFor(model => model.Description)
  <br>
  @Html.Label("Color:")
  <br>
  @Html.DropDownListFor(model => model.Color, listItems, "-- Select Color --")
  <br>
  @Html.Label("Select category:")
  <br>
  @Html.DropDownList("CategoryId")
  <br>
  <br>
  <input type="submit" value="Add New Recipe" class="btn btn-dark">
}
<br>
<p>@Html.ActionLink("Show All Recipes", "Index", "Recipes", null,  new { @class = "btn btn-dark btn-large" } )</p>

