@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Recipe Details:</h2>
<hr/>
<p>@Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayFor(model => model.Description)</p>

@if(@Model.Categories.Count == 0)
{
  <p>This item does not belong to any categories</p>
}
else
{
  <h4>Categories:</h4>
  <ul>
  @foreach(var join in Model.Categories)
  {
    <li>@join.Category.Name</li>
    @using (Html.BeginForm("Delete", "Recipes"))
    {
      @Html.Hidden("id", @Model.RecipeId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}
