@{
  Layout = "_Layout";
}

@using RecipeBox.Models;
@model IEnumerable<RecipeBox.Models.Recipe>

<h1 class="text-center">Recipes for @User.Identity.Name</h1>

<p class="text-center">@Html.ActionLink("Add new Recipe", "Create", "Recipes", null,  new { @class = "btn btn-dark btn-large" } )</p>

@if (Model.Any())
{
  <div class="row recipes">
    @foreach (Recipe recipe in Model)
    {
      <div class="col-md-4 recipeCol">
        <div class="card card-default recipe @recipe.Color">
            <div class="card-title text-center">
              <h4>@recipe.Name</h4>
            </div>
            @Html.ActionLink("Details", "Details", new { id = recipe.RecipeId }, new {@class = "btn btn-dark btn-block"})
        </div>
      </div>
    } 
  </div>
}
else 
{
  <p>No recipes have been added</p>
}

