@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Category;

<h2>Category Details</h2>
<hr />
<h3>Category: @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Recipes.Count == 0)
{
  <p>This category does not contain any recipes</p>
}
else
{
  <h4>Recipes:</h4>
  <ul>
  @foreach(var join in Model.Recipes)
  {
    <li>@Html.ActionLink($"{@join.Recipe.Name}", "Details", "Recipes", new { id = join.RecipeId }, new { @class="content"})</li>
  }
  </ul>
}
<p>@Html.ActionLink("Add a Recipe", "Create", "Recipes", null,  new { @class = "btn btn-primary btn-large" } )</p>
<p>@Html.ActionLink("Back to categories", "Index", "Categories", null,  new { @class = "btn btn-primary btn-large" } )</p>
<p>@Html.ActionLink("Edit Category", "Edit", "Categories", new { id = Model.CategoryId }, new { @class = "btn btn-primary btn-large" } )</p>
<p>@Html.ActionLink("Delete Category", "Delete", "Categories", new { id = Model.CategoryId }, new { @class = "btn btn-primary btn-large" } )</p>